<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      min-height: 100vh;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }

    div.row {
      flex-direction: row;
    }

    table {
      width: 300px;
    }

    tr:nth-child(odd) {
      background-color: #ddd;
    }

    .tableHeader {
      font-weight: bold;
    }

    .smallPrice {
      background-color: firebrick !important;
      color: #fff;
    }
  </style>

  <script>
    function voltar() {
      window.location.replace('/');
    }
  </script>
</head>

<body>
  <div class="row">
    <button onclick="voltar()">Voltar</button>
  </div>
  <div class="row">
    <label for="nome">Nome:</label>
    <input id="nome" type="text" placeholder="Nome" value="{{ nome }}" />
    <label for="preco">Preço:</label>
    <input id="preco" type="text" placeholder="Preco" value="{{ preco }}" />
  </div>
</body>

</html>